$primaryFont: "Titillium Web", sans-serif;
$transition: all 500ms ease;

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin mediaMedium {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaSmall {
  @media screen and (max-width: 480px) {
    @content;
  }
}
