.contactBody {
  background-color: #000;
  font-family: $primaryFont;

  header {
    min-height: 100vh;
    background: url("../../images/contact.jpg") center/cover no-repeat;
    animation: fade-in 2s forwards;

    nav {
      animation: fade-in 2s forwards 1s;
    }

    #scroll {
      height: 100px;
      position: absolute;
      right: 0;
      bottom: 2rem;
    }
  }

  section {
    text-align: center;
  }

  .fp-tooltip {
    color: #000 !important;
    font-family: $primaryFont !important;
    font-weight: 600 !important;
  }

  .s1 {
    // background-color: #67ccda;
    background: url("../../images/contactt.png") center/cover no-repeat;

    h1 {
      font-size: 4.5rem;
      padding: 0 10px;
      margin-right: -35rem;
    }

    ul {
      margin: 3rem 0;
      margin-right: -35rem;

      li {
        font-size: 3rem;

        &:first-of-type {
          font-weight: 700;
        }
      }
    }
  }

  .s2 {
    background: rgb(103, 204, 218);
    background: linear-gradient(
      180deg,
      rgba(103, 204, 218, 1) 60%,
      rgba(255, 255, 255, 1) 100%
    );

    h1 {
      font-size: 2rem;
      padding: 0 10px;
    }

    iframe {
      height: 550px;
      margin-top: 5rem;
    }
  }

  .s3 {
    background: #fff;

    h1 {
      font-size: 4rem;
      padding: 0 10px;
    }

    h2 {
      font-size: 2.5rem;
      padding: 0 10px;
    }
  }
}
