footer {
  background-color: hsl(209, 61%, 16%);
  min-height: 25vh;
  @include flex(space-between, center);
  font-family: $primaryFont;
  padding: 0 50px;

  img {
    height: 70px;
  }

  ul {
    list-style-type: none;
    @include flex(center, center);

    li {
      padding: 0 30px;
      font-size: 1.5rem;
      transition: $transition;

      a {
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
