header {
  min-height: 100vh;
  background: #0a0b08;
  background-size: 30%;
  color: #fff;
  font-family: $primaryFont;
  overflow-x: hidden;

  > div {
    @include flex(space-between, center);
    height: 80vh;

    > div {
      text-align: center;
      flex: 2;

      h1 {
        font-size: 6rem;
        font-weight: 500;
        animation: headerOne 3s ease;
      }

      h2 {
        font-weight: 500;
        font-size: 2.5rem;
        animation: headerTwo 2.5s ease;
        max-width: 500px;
        margin: 0 auto 3rem;
      }
    }

    img {
      height: 550px;
      animation: img 3s ease;
    }
  }
}

@keyframes img {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes headerOne {
  from {
    transform: translateY(-500%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes headerTwo {
  from {
    transform: translateY(-500%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
