.other {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/other.jpg") center/cover no-repeat;
  color: #fff;
  padding: 0 30px;
  @include flex(center, center);
  flex-direction: column;
  font-family: $primaryFont;
  text-align: center;

  h1 {
    font-size: 5rem;
    font-weight: 600;
  }

  h3 {
    font-size: 2rem;
    max-width: 700px;
    margin: 0 auto 3rem;
    font-weight: 500;
  }

  a {
    display: inline-block;
    background-color: #426e86;
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 20px;

    &:hover {
      color: #800080;
    }
  }
}
