@include mediaLarge {
  header > div > div {
    h1 {
      font-size: 5rem;
      padding: 0 20px;
    }

    h2 {
      font-size: 2rem;
      max-width: 500px;
      padding: 0 20px;
    }
  }

  .shirt {
    div h1 {
      font-size: 4rem;
    }

    img {
      height: auto;
      width: 30%;
    }
  }

  .contactBody {
    .s1 {
      h1 {
        font-size: 3rem;
        margin-right: -20rem;
      }

      ul {
        margin-right: -20rem;
      }
    }
  }
}

@include mediaMediumLarge {
  header > div {
    img {
      width: 40%;
      height: auto;
    }

    > div {
      h1 {
        font-size: 3.5rem;
      }

      h2 {
        font-size: 2rem;
      }
    }
  }

  .shirt {
    div {
      h1 {
        font-size: 3rem;
      }

      h3 {
        font-size: 1.5rem;
        max-width: 400px;
      }

      a {
        font-size: 1.5rem;
        padding: 15px 30px;
      }
    }

    img {
      width: 35%;
    }
  }

  .service {
    .digital {
      h1 {
        position: absolute;
        top: 11rem;
        left: 0;
      }
    }

    .otherService {
      h1 {
        position: absolute;
        bottom: 11rem;
        right: 0;
      }
    }
  }

  .contactBody {
    .s1 {
      h1 {
        margin-right: -15rem;
      }

      ul {
        margin-right: -15rem;
      }
    }
  }
}

@include mediaMedium {
  nav ul,
  nav .links {
    display: none;
  }

  header > div {
    > div {
      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  .shirt {
    div {
      h1 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1rem;
        max-width: 300px;
        margin: 1rem auto 2rem auto;
      }
    }
  }

  footer {
    padding: 0 30px;
  }

  .service {
    .digital {
      h1 {
        top: 11rem;
        max-width: 50px;
      }
    }

    .otherService {
      h1 {
        bottom: 11rem;
        max-width: 150px;
      }
    }
  }

  .gallery {
    padding: 0 20px;

    img {
      width: 85%;
      height: auto;
    }
  }

  .contactBody header {
    background: url("../images/envelope.jpg") center/cover no-repeat;

    #scroll {
      bottom: 1rem;
    }
  }

  .contactBody {
    .s1 {
      background: #102a42;
      color: #fff;
      @include flex(center, center);
      flex-direction: column;

      h1 {
        max-width: 100%;
        margin-top: 2rem;
      }

      ul {
        max-width: 100%;
      }
    }
  }
}

@include mediaMediumLow {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/toner.jpg") center/cover no-repeat;

    > div {
      img {
        display: none;
      }

      > div {
        h1 {
          font-size: 4rem;
        }

        h2 {
          font-size: 2rem;
        }
      }
    }
  }

  .large,
  .other {
    h1 {
      font-size: 3rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }

  .shirt {
    div {
      h1 {
        font-size: 1.5rem;
      }

      a {
        padding: 10px 20px;
      }
    }

    img {
      width: 40%;
    }
  }

  footer {
    justify-content: center;
    flex-direction: column;

    img {
      margin: 2rem 0 2rem;
    }

    ul {
      margin-bottom: 3rem;
    }
  }
}

@include mediaSmall {
  nav {
    padding: 15px 20px;

    img {
      height: 50px;
    }
  }

  .toggle {
    top: 40px;
    right: 20px;
  }

  header > div > div {
    h1 {
      font-size: 3rem;
      margin: 2rem 0;
    }

    h2 {
      font-size: 1.5rem;
      padding: 0 15px;
      margin: 0 auto 5rem;
    }
  }

  .large,
  .other {
    padding: 0 20px;

    h1 {
      font-size: 2.5rem;
    }

    h3 {
      margin: 2rem auto 3rem auto;
    }

    a {
      font-size: 1.5rem;
      padding: 15px 30px;
    }
  }

  .other h1 {
    font-size: 3rem;
  }

  .shirt {
    padding: 30px 30px 50px;

    div {
      padding: 0;

      h1 {
        font-size: 2.5rem;
      }

      h3 {
        font-size: 1.5rem;
        max-width: 500px;
      }

      a {
        padding: 15px 30px;
      }
    }

    img {
      display: none;
    }
  }

  footer ul {
    flex-wrap: wrap;

    li {
      padding: 10px 30px;
    }
  }

  .service {
    display: none;
  }

  .serviceBody {
    nav {
      position: static;
    }

    .large,
    .other {
      display: block;
      @include flex(center, center);

      h1 {
        font-size: 4.5rem;
        margin-bottom: 3rem;
        line-height: 75px;
      }
    }
  }

  .digitalBody .container {
    padding-top: 0;

    > div {
      width: 300px;

      .desc {
        height: auto;
      }
    }
  }

  .allDigitalBody {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .contactBody {
    .s1 {
      h1 {
        font-size: 3rem;
      }

      ul li {
        font-size: 2rem;
      }
    }
  }
}
