@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
@import "config";
@import "sidebar";
@import "nav";
@import "header";
@import "large";
@import "shirt";
@import "other";
@import "footer";
@import "service";
@import "contact";
@import "digital";
@import "allDigital";
@import "responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
