@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
@import "config";
@import "header";
@import "large";
@import "shirt";
@import "other";
@import "footer";
@import "service";
@import "contact";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  @include flex(space-between, center);
  padding: 15px 50px;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: fade-in 3s forwards 2s;
  font-family: $primaryFont;

  img {
    height: 70px;
  }

  ul {
    list-style-type: none;
    color: #fff;
  }

  .links {
    @include flex(center, center);

    li {
      padding: 0 30px;
      font-size: 1.5rem;
      transition: $transition;

      a {
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
